* 
	font-family: 'Roboto', sans-serif 
header 
	position: relative 
	height: 50px 
nav 
	position: fixed 
	width: 100% 
	z-index: 2 
	min-height: 50px 
	background-color: #212121 
.menu 
	display: flex 
	justify-content: space-between 
	padding: 13px 70px 
	margin: 0 
	list-style: none 
	.menu_link 
		color: #ffffff 
		font-size: 15px 
		font-weight: 300 
		line-height: 15px 
		text-align: left 
	.menu_item 
		padding-right: 32px 
		border-right: 2px dotted black 
		&:last-child 
			border-right: none 
.subheader 
	position: absolute 
	top: 50px 
	width: 100% 
	z-index: 1 
	min-height: 84px 
	background-color: rgba(0, 0, 0, 0.6) 
	.subheader_img 
		margin-top: 16px 
	.subheader_text 
		margin-top: 6px 
		opacity: 0.5 
		color: #ffffff 
		font-size: 13px 
		font-weight: 400 
		line-height: 13px 
		text-align: left 
	.subheader_call 
		margin-top: 23px 
		color: #ffffff 
		font-size: 12px 
		font-weight: 300 
		line-height: 12px 
		text-align: right 
	.subheader_phone 
		display: block 
		margin-top: 8px 
		color: #ffffff 
		font-size: 22px 
		font-weight: 400 
		line-height: 22px 
		text-align: right 
		text-transform: uppercase 
	.subheader_btn 
		margin-top: 19px 
		width: 172px 
		height: 46px 
		box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.12) 
		background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%) 
		border: none 
		border-radius: 4px 
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21) 
		color: #ffffff 
		font-size: 14px 
		font-weight: 400 
		line-height: 14px 
		text-align: center 
		text-transform: uppercase 
		cursor: pointer 
.promo 
	min-height: 800px 
	background: url('../img/main-background.jpg') center center/cover no-repeat 
	padding: 150px 0 135px 0 
	.promo_header 
		font-size: 60px 
		font-weight: 900 
		line-height: 60px 
		color: #ffffff 
		text-align: center 
		text-transform: uppercase 
		margin: 0 
	.promo_subheader 
		margin: 0 
		margin-top: 22px 
		font-weight: 700 
		line-height: 36px 
		color: #ffffff 
		font-size: 36px 
		text-align: center 
		text-transform: uppercase 
	.promo_text 
		margin-top: 23px 
		color: #ffffff 
		font-size: 18px 
		font-weight: 400 
		line-height: 24px 
		text-align: center 
	.promo_btn 
		display: block 
		margin: 0 auto 
		margin-top: 118px 
		width: 259px 
		height: 63px 
		box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12) 
		border: none 
		border-radius: 4px 
		background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%) 
		color: #ffffff 
		font-size: 18px 
		font-weight: 400 
		line-height: 18px 
		text-align: center 
		text-transform: uppercase 
.reason 
	min-height: 900px 
	padding: 71px 0 65px 0 
	.row 
		margin-top: 40px 
		position: relative 
	.reason_round 
		position: absolute 
		top: -3px 
		left: 0 
		margin-right: 26px 
		display: inline-flex 
		justify-content: center 
		align-items: center 
		width: 113px 
		height: 113px 
		background-color: #1eacc7 
		border-radius: 100% 
	.reason_text 
		margin-left: 139px 
		margin-bottom: 35px 
		display: inline-block 
		width: 341px 
		color: #202020 
		font-size: 15px 
		font-weight: 300 
		line-height: 21px 
		text-align: justify 
		span 
			color: #1eacc7 
			font-size: 17px 
			font-weight: 400 
.label 
	display: block 
	margin: 0 auto 
	padding-top: 8px 
	color: #ffffff 
	font-size: 11px 
	font-weight: 400 
	line-height: 11px 
	text-align: center 
	text-transform: uppercase 
	width: 112px 
	height: 24px 
	background-color: #000000 
.title 
	margin-top: 38px 
	color: #222222 
	font-size: 38px 
	font-weight: 700 
	line-height: 38px 
	text-align: center 
	text-transform: uppercase 
.subtitle
	margin-top: 19px
	color: #222222
	font-size: 17px
	font-weight: 400
	line-height: 17px
	text-align: center
.label_black
		color: #070716
		background-color: #ffffff
.title_white
		color: #ffffff
		margin-top: 32px
.subtitle_white
		color: #ffffff
.mobile
	padding: 48px 0 80px 0
	min-height: 864px
	background: url('../img/opportunity-background.jpg') center center/cover no-repeat
	.row
		margin-top: 32px
	&_item
		position: relative
		width: 320px
		height: 280px
		margin: 0 auto
		margin-bottom: 19px
		padding-top: 92px
		&_1
			background: url('../img/one-touch-order.jpg') center center/cover no-repeat
		&_2
			background: url('../img/supply.jpg') center center/cover no-repeat
		&_3
			background: url('../img/price.jpg') center center/cover no-repeat
		&_4
			background: url('../img/cashless-payment.jpg') center center/cover no-repeat
			margin-bottom: 0
		&_5
			background: url('../img/feedback.jpg') center center/cover no-repeat
			margin-bottom: 0
		&_6
			background: url('../img/share-the-cost.jpg') center center/cover no-repeat
			margin-bottom: 0
		&_subtitle
			color: #ffffff
			font-size: 24px
			font-weight: 400
			line-height: 24px
			text-align: center
			text-transform: uppercase
		&_plus
			position: absolute
			top: 219px
			left: 50%
			transform: translateX(-50%)
			display: flex
			justify-content: center
			align-items: center
			width: 26px
			height: 26px
			background-color: #000000
			border-radius: 100%
			cursor: pointer
.opportunity
	padding: 57px 0 138px 0
	height:  499px
	background-color: #070716
	&_car
		display: block
		margin: 0 auto
		margin-top: 56px
	&_text
		color: #222222
		font-size: 17px
		font-weight: 300
		line-height: 24px
		text-align: center
.opportunity_bg
	min-height: 397px
	background: url('../img/car-background.jpg') center center/cover no-repeat
.world
	min-height: 717px
	background: url('../img/world-background.jpg') center center/cover no-repeat
	padding: 49px 0
	&_link
		display: block
		margin-top: 486px
		color: #1fbad6
		font-size: 15px
		font-weight: 400
		line-height: 68px
		text-align: center
		text-transform: uppercase
	&_link:hover
		text-decoration: none

	
